* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar-container {
    display: flex;
    padding: 20px 30px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.airbnb-logo {
    max-width: 100px;
}

.photogrid-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.image {
    max-width: 80%;
    align-self: center;
}

.image-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    color: #000000;
    margin-bottom: 16px;
}

.image-details {
    margin-top: 0;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.card-container {
    position: relative;
    width: 175px;
    font-size: 12px;
    flex: auto;
    display: flex;
    flex-direction: column;
}

.details-card-container {
    display: flex;
    align-items: center;
}

.grey-color {
    color: #918E9B;
}

.star-image {
    height: 14px;
    width: 14px;
}

.bold {
    font-weight: bold;
}

.card-image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card-price {
    margin-top: auto;
}

.card-button {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}